In [6]:
import numpy as np
import pandas as pd

In [7]:
titanic_data = pd.read_csv("titanic.csv")

In [8]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
titanic_extract_data = titanic_data.drop(columns=['PassengerId','Cabin','Name','Ticket'], axis=1)

In [12]:
titanic_extract_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [13]:
titanic_extract_data.shape

(891, 8)

In [14]:
titanic_extract_data.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [15]:
titanic_extract_data[titanic_extract_data['Age']>50].count()

Survived    64
Pclass      64
Sex         64
Age         64
SibSp       64
Parch       64
Fare        64
Embarked    63
dtype: int64

In [16]:
titanic_extract_data['Age'].fillna(titanic_extract_data['Age'].mean(), inplace=True)

In [17]:
titanic_extract_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [18]:
titanic_extract_data['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [20]:
le = LabelEncoder()

In [21]:
titanic_extract_data['Sex'] = le.fit_transform(titanic_extract_data['Sex'])
titanic_extract_data['Embarked'] = le.fit_transform(titanic_extract_data['Embarked'])

In [22]:
titanic_extract_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [32]:
titanic_extract_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int32
dtypes: float64(2), int32(2), int64(4)
memory usage: 48.9 KB

In [23]:
import sklearn
print(sklearn.__version__)

1.2.2

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X = titanic_extract_data.drop(columns='Survived')
y = titanic_extract_data['Survived']

In [35]:
#X.info()

In [36]:
X_train, X_test,y_train,y_test = train_test_split(X,y, test_size=0.20,random_state=42)

In [37]:
print(X.shape,X_train.shape,X_test.shape)

(891, 7) (712, 7) (179, 7)

In [38]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [42]:
X_train_standardized = scaler.fit(X_train)
X_train_standardized = scaler.transform(X_train)
print(X_train_standardized.std())

1.0

In [43]:
X_test_standardized = scaler.transform(X_test)
print(X_test_standardized.std())

0.9689932265952313

In [44]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [45]:
model = LogisticRegression()

In [46]:
model.fit(X_train,y_train)

LogisticRegression()

In [47]:
X_train_prediction = model.predict(X_train)
training_accuracy = accuracy_score(X_train_prediction,y_train)
print(training_accuracy)

0.8019662921348315

In [48]:
X_test_prediction = model.predict(X_test)
test_accuracy = accuracy_score(X_test_prediction,y_test)
print(test_accuracy)

0.8100558659217877

In [54]:
input_data_array = np.asarray(input_data)
input_data_reshape = input_data_array.reshape(1,-1)
prediction = model.predict(input_data_reshape)
print(prediction)

[0]

C:\Users\hp\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [52]:
print(prediction)

[1]